/* Leader Mode Select */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
}

.leaderModeSelectContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  width: 100%;
  border: 1px solid red;
}

.usernames {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 24px 0 0 0;

  font-weight: 800;
}
.usernamesTitle {
  margin-bottom: 17px;
  font-weight: 500;
  text-decoration: underline;
}

.activeListItems {
  padding: 0px;
  margin: 0px;
}

.listItems {
  padding: 0px;
  margin: 0px;
}

.listSelectorItem:hover {
}

.listSelectorItem {
  cursor: default;
  display: flex;
  background-color: whitesmoke;
  color: black;
  padding: 4px;
  list-style: none;
  border-radius: 12px;
  padding: 6px 10px;
  margin: 10px 0;
}

.instructions {
  margin: 0 0 8px 0;
}

.gamemodeSelect {
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 12px;
  margin: 0 0 12px 0;
  background-color: whitesmoke;
}

.buttonBar {
  display: flex;
}

.backButton {
  width: 55px;
  height: 55px;
  padding: 0;
  border-radius: 33px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButtonImage {
  max-width: 50%;
  max-height: 50%;
}

.gamemodeSelect option {
  font-size: 1.2rem;
  background-color: whitesmoke;
}

.gameListSearchInput {
  margin: 6px;
  height: 30px;
  width: 8rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
}

.quippageListsWrapper {
  margin: 12px 0;
  width: 100%;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activeListWrapper {
  display: flex;
  flex-direction: column;
}

/* For loading elipses on non-leader user page . .. ... */
.loading::after {
  display: inline-block;
  animation: dotty steps(1, end) 2s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
