/* Leader Mode Select */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leaderModeSelectContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
}

.usernames {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 24px 0 0 0;

  font-weight: 800;
}
.usernamesTitle {
  margin-bottom: 17px;
  font-weight: 500;
  text-decoration: underline;
}

.list-selector-item:hover {
  color: red;
}

.list-selector-item {
  cursor: default;
  display: flex;
  padding: 4px;
  margin: 5px, 0, 0, 5px;
}
/* For loading elipses on non-leader user page . .. ... */
.loading::after {
  display: inline-block;
  animation: dotty steps(1, end) 2s infinite;
  content: "";
}

.button {
  color: black;
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
